div{border: solid 3px black;margin:5px;}

#b1 {background:saddlebrown;width:100%;padding:10px;margin-bottom:20px}

#b2{background:yellow;margin:2px;}

#b3{float:left;background:lightblue;background-image:url(back.jpg);left:10px;
    top: 10px;padding:5px;width:25%;}

#b4{float:right;background:yellow;padding:5px; width:20%;}

#b5{float:left;background:lightgreen;padding:30px; width:10%;}
