div{margin:0px;padding:0px;text-align:center}

#b1{width:100%}

#b2{margin:auto;width:90%}

#b3{background:grey;height:150px;width:100%;margin-top:2px;}

#b4{margin-top:2px;width:100%}

#b5{background:yellow;width:20%;float:left}

#b6{background-image:url(back.jpg);width:60%;float:left}

#b7{background:yellow;width:20%;float:left}

#b8{background:green;width:100%;margin-top:2px;clear:both}
