div{border:solid 3px black;margin:5px;}

#b1{background:saddlebrown;width:100%;padding:10px;margin-bottom:20px}

#b2{float:left;background:yellow;margin:2px;width:20%;}

#b3{background-image:url(back.jpg)}

#b4{float:right;background:yellow;padding:5px;width:20%;margin:2px;}

#b5{background:lightgreen;width:100%;padding:10px;margin-bottom:20px}
