div{border: solid 3px pink;margin:5px;
  background:lightyellow;}

#b1 {background-image:url(back.jpg);width:100%;}

#b2{border-color:Lavender;margin:2px;}

#b3{float:left;background:lavender;padding:5px;width:25%; font-family: Arial Narrow, sans-serif}

#b4{float:left;background:lavender;padding:5px; width:20%;font-family: Comic Sans MS, Comic Sans, cursive}

#b5{float:left;background:lavender;padding:5px; width:40%;}

#b6 {clear:both;margin:5px;}
