div{border: solid 3px pink;margin:5px;
  background:lightyellow;}

#b1 {background:lightpink;width:100%;}

#b2{border-color:Lavender;margin:2px;}

#b3{float:left;background:lightblue;padding:5px;width:25%;}

#b4{float:left;background:lightblue;padding:5px; width:20%;}

#b5{float:left;background:lightblue;padding:40px; width:10%;}

#b6 {clear:both;margin:5px;}
